<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Livraria versão Web</title>
	
	<!--/*/ <th:block th:include="fragments/cabecalho :: head"></th:block> /*/-->
	</head>
<body>
	<div class="container">

		<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->


		<!-- Insere um jumbotron como cabeçalho da página -->

		<header class="jumbotron titulo">
			<div class="container">
				<div class="row row-header">
					<div class="col-xs-12 col-sm-8">
						<h2>Sistema LivrariaWEB</h2>
						<h3>Versão 2.0 - Dezembro 2016</h3>
					</div>
				</div>
			</div>
		</header>



	</div>	<!--  container -->

	<!--/*/ <th:block th:include="fragments/rodape :: footer"></th:block> /*/-->


</body>
</html>